
* { 
	box-sizing: border-box; 
	// border: 1px solid red;	
}

body {
    background-color: lavender;
}


.container {
    margin-top: 10px !important;
}

.card {
    margin: 10px 0 10px 0;
}

.image {
    position: relative;
    overflow: hidden;
    img {
        max-width: 100%;
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        
        &:hover {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}


.post {
    display: contents;
    // width: 50%;
    margin: 5px;
}

.posts {
    display: flex;
    justify-content: space-around;
    a {
        margin: 5px;
    }
}