.search {
    .btn:focus,.btn:active, 
    input:active,
    input:focus,
    button:active,
    button:focus {
        outline: none !important;
        box-shadow: none;
        border:none !important;
     }

    border: 1px solid   $green;
    border-radius: 10px;
    padding: 2px 0 2px 5px;
    margin-left: 10px;

    .search-button-img {
        width: 15px;
    }
    
    .search-input, .search-button {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .search-message {
        color: $green;
        position: relative;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
    }
}

///     CARD

.card {
    border-radius: 0;
    .card-body {
        padding: 0;
        .card-title {
            text-align: center;
            color: $green;
            font-size: x-large;
            font-weight: bold;
        }
        .card-text {
            padding: 1em;
        }
        p {
            img{
                width: 100% !important;
            }
        }
    }
    a:hover{
        text-decoration: none;   
        
    }
    a:hover .card-title{
        text-decoration: none;   
        color: darken($green, 20%); 
    }
    .image-container {
        overflow: hidden;
        height: 250px;
        margin-bottom: 1.67em;
        img {
            // max-width: 100%;
            // width: 550px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            
            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
}