
* { 
	box-sizing: border-box; 
	// border: 1px solid red;	
}

body {
    // background-color: lavender;
    font-family: $font-family-sans-serif;
}


html {
    position: relative;
    min-height: 100%;
}

 //     NAVBAR

.navbar {
    justify-content: center !important;
}

.navbar-expand-lg {
    justify-content: center !important;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.search {

    .btn:focus,.btn:active, 
    input:active,
    input:focus,
    button:active,
    button:focus {
        outline: none !important;
        box-shadow: none;
        border:none !important;
     }


    border: 1px solid   $green;
    border-radius: 10px;
    padding: 2px 0 2px 5px;
    margin-left: 10px;

    .search-button-img {
        width: 15px;
    }
    
    .search-input, .search-button {
        border:none;
        background-image:none;
        background-color:transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}



.container {
    margin-top: 10px !important;
}

// SLIDES
.my-slides {
    height: 400px;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    padding: 5px 0 5px 0;

    .slide-img {
        object-fit: cover;
        height: 390px;
    }

    .carousel-caption {
        position: unset !important;
    }

    .slide-description {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);

        .carousel-caption {
            text-align: left;
        }
    }

    h1 {
        font-family: $handwriting-font-family;
        font-weight: bold;
        color: $orange;
        text-shadow: 0px 0px 4px rgba(0,0,0,0.94);
    }
    p {
        text-shadow: 0px 0px 4px rgba(0,0,0,0.94);
        font-size: large;
    }
    .my-button{
        border: 2px solid $green;
        background-color:rgba(0,150,0,0.6);
        color: white;
        padding: 10px 30px;
        transition: all 0.3s;
        &:hover, 
        &:focus,
        &:active {
            border: 2px solid $orange;
            background-color: $orange;
            outline: none !important;
            box-shadow: none;
        }
    }
    // remove all button styles
    // button, input[type="submit"], input[type="reset"] {
    //     background: none;
    //     color: inherit;
    //     border: none;
    //     padding: 0;
    //     font: inherit;
    //     cursor: pointer;
    //     outline: inherit;
    // }

}



//  POSTS SECTION

.posts {
    margin-bottom: 100px;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    .image {
        overflow: hidden;
        img {
            // max-width: 100%;
            // width: 550px;
            width: 100%;
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            
            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    a {
        text-decoration: none;
    }
    p {
        text-align: justify;
        font-size: larger;
    }
    h3 {
        color: $green;
        font-weight: bold;
        margin-top: 10px;
    }
    .button-cell {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-see-more {
        display: block;
        color: $orange;
        border: 2px solid $orange;
        background-color: white;
        padding: 10px 60px;
        outline: none;
        transition: all 0.3s;
        &:hover {
            color: white;
            background-color: $orange;
        }
    } 
}

// A single post section

.single-post{
    h1 {
        color: $green;
        font-weight: bold;
    }
    .post-img {
        float: right;
        margin-left: 40px;
    }
}

// Footer
.my-footer {
    color: white;
    background-color: $orange;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    div {
        padding: 20px;
    }
    a {
        color: white;
    }
}
