@font-face {
    font-family: 'Merienda';
    src: url('/storage/fonts/Merienda-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merienda';
    src: url('/storage/fonts/Merienda-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}